body{
  background-color: #f9fafb;
  font-family: Arial ,Helvetica,sans-serif;
}

.container1{
  width: 100%;
  height:1300px;
  margin: 0;
  padding: 0;
  background-image:url("concept26.png");
  background-repeat: no-repeat;
  background-position: center ;
  background-color: #e9ebef;

}
.text{
  text-align: center;
  margin-bottom: 730px;
}
.text h2{
  padding-top: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 50px;
}
.text h3{
  padding-top: 20px;
  font-family: Garamond, serif;
  font-size: 2em;

}

.block {
  float: left;
  width: 30%;
  text-align: center;
}
.block h5{
  font-family: Garamond, serif;
  font-size: 1em;

}
.fix-me{
  position: fixed;
  top: 250px;
  right: 15px;


}
.image{
  width: 20px;
  height: 20px;
}

#main-block{
  float: left;
  width: 60%;
  padding-top: 40px;
  }

#sideblock{
  float: right;
  width: 40%;
  padding-top: 180px;
}
.image1{
  float: center;
  margin :0;
  padding-top: 50px;
  padding-left: 25px;
  width: 80%;
  height: 650px;

}

.container2 p{
  padding-left: 60px;
}
.container2 h2{
  font-family: 'Times New Roman', serif;
  font-size: 2em;
}
.container2 h3{
   font-family: 'Courier New', monospace;
  font-size: 1.5em;
}
.container2 p{
  font-family: 'Arya', monospace;
  font-size: 0.8em;
}
.pic1{
  width: 55px;
  height: 50px;
  padding-right: 20px;
}



.main-block1{
  float: left;
  width: 40%;



  }
.container3{
  margin-top: 800px;
  width: 100%;
  height:720px;
  background-color: #e9ebef;

}

.sideblock1{
  float: right;
  width: 60%;
  margin: 0;
  padding: 0;

}
.image2{
  float: right;
  width: 900px;
  height: 700px;
}
.container3 h2{
  font-family: 'Times New Roman', serif;
  font-size: 2em;
  text-align: center;
  padding-top: 180px;
}
.container3 h3{
   font-family: 'Courier New', monospace;
  font-size: 1.5em;
  text-align: center;
}
.card-body  {
  background-color: #e9ebef;
  border: 0px;
  text-align: center;

}
.card-header{
  background-color: #e9ebef;
  border: 0px;
  text-align: center;


}
.card{
  border: 0px;
}
.arrow{
  width: 12px;
  height: 12px;

}
.card-header button{
  background-color: #e9ebef;
  color:black;
  text-decoration: none;

}
.card-header button:hover{
  background-color: #e9ebef;
  color:#848abd;
  text-decoration: none;

}

.container
{
    width: 100%;
    padding-top: 800px;
}
.top
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.switch
{
    position: relative;
    display: inline -block;
    width: 60px;
    height: 34px;
}
.container input,
.container label
{
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
}

.switch input
{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ecedee;
    transition:0.6s ease transform,
    0.6s box-shadow;
    /*box-shadow: 2px 6px 20px #1e2321;*/
    transform: translate(0px, 0px);
}

.slider::before
{
    position:absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #848abd;
    transition: 0.4s;
}

input:checked + .slider
{
    background-color: #ecedee;
}

input:focus + .slider
{
   box-shadow: 0 0 1px #848abd;
}

input:checked + .slider::before
{
    transform: translateX(26px);
}

.slider.round
{
    border-radius: 34px;
}
.slider.round::before
{
    border-radius: 50%;
}
.package-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.packages
{

    width: 350px;
    padding-bottom: 2.4em;
    height:500px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    flex-wrap: wrap;
    color: black;
}
.container .list li
{
    font-size: 15px;
    list-style: none;
    padding: 10px;
}


.container ul
{
    padding: 0;
}

.container h1
{
    font-size: 1.5em;
    margin:0;
    padding: 0;
}
.container h2
{
    font-size: 2.2em;
    margin-top:50px;
    padding: 0;
}
.button
{
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.4em;
    border-radius: 50px;
    color: #f4f4f4;
    transition: all 0.3s ease;

}
.button:hover
{
    transform: scale(1.2);
}
.button3
{
    background-color: #848abd;

}
.back
{
    margin: 0.8em;
}
#packagePrem{
  width: 370px;
  height: 520px;
  position: relative;
  background-color: white;
  margin-left: -20px;
  margin-right: : -20px;
  right: 10px;
  left:  10px;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}
.container5{

  width: 60%;
  height:400px;
  margin: 0;
  padding: 0;
  margin-left: 308px;
  margin-top: 50px;


}
.container6{
  width: 100%;
  height:400px;
  margin: 0;
  padding: 0;
  background-color:#1e2228;

}

#main-block1{
  float: left;
  width: 30%;
  padding-top: 40px;
}

#sideblock1{
  float: left;
  width: 70%;
  padding-top: 40px;
}

.pict1{
  margin-top: 50px;
  margin-left: 150px;
  padding-bottom: 10px;

}
.pic1text{
  margin-left: 150px;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
  font-size: 1em;

}
.container6 table{
  margin-top: 50px;
  margin-left: 100px;
}

.container6 tr{
  color: #fff;
}
.container6 td {

  width: 200px;
  height: 30px

}
.container6 a , .contact {
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
}
.container6 a:hover{
  color: #fff;
  text-decoration: none;
}
#main-footer{
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;

}
.facebook , .youtube , .instagram{
  height: 40px;
  width: 40px;
  padding-bottom: 10px;
}
.facebook{
  float: right;
  margin-top: 60px;
  margin-right: 180px;
}
.youtube{
  float: right;
  margin-top: 60px;
  margin-right: 10px;
}
.instagram{
  float: right;
  margin-top: 60px;
  margin-right: 2px;
}
#main-footer p{
  margin-left: 150px;
  margin-top: 60px;
  color: #ccc;
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
  font-size: 1em;

}
